body {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.tweetBody {

}

a {
	text-decoration: none;
	color: #0078ff;
}

a:hover {
	color: #a132ff;
}

.userInfo {
	height: 52px;
	padding: 5px;
	background: #242424;
}

.userInfo .avatar {
	float: left;
}

.userInfo .avatar img {
	border-radius: 5px;
	border: 1px solid #0078ff;
}

.userInfo .name {
	margin-left: 52px;
	padding-top: 6px;
	padding-left: 6px;
}

.userInfo .displayName {
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
}

.userInfo .userName {
	font-size: 80%;
}

.userInfo .userName a {
	color: #575757;
}

.tweetContent {
	padding: 10px;
	background: #1a1a1a;
	min-height: 64px;
}

.text {
	color: #9e9e9e;
	text-shadow: 0px 1px 1px #000;
}

.mediaPreview {
	margin-top: 10px;
	position: relative;
	max-height: 253px;
	overflow: hidden;
	border-radius: 5px;
}

.mediaPreview img {
	max-width: 480px;
}

.newTweets .userInfo {
	background: #241212;
}

.newTweets .tweetContent {
	background: #1a0d0d;
}

.newTweets .text {
	color: #9e4f4f;
}